
@{
    ViewBag.Title = "Contact";
}


<style>
    .navbaricon1 {
        margin-top: -15px;
        height: 54px;
        width: 169px;
    }

    .nav {
    }

    .navcontents {
        margin-right: 30px;
        margin-left: 30px;
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
    }






    .portfolioimgs {
        margin-right: 60px;
        margin-left: 60px;
    }


    .imgcolumn {
        margin-top: 10px;
        margin-bottom: 10px;
    }



    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: grey; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }



    .abouttext {
        margin-right: 30px;
        margin-left: 30px;
        font-family: 'Josefin Slab', serif;
        font-size: 30px;
    }


    .mypicture {
        width: 1000px;
    }

    .mypiccaption {
        font-size: 20px;
        color: blue;
        text-align: right;
    }

    .contactpageheader {
        font-family: 'Josefin Slab', serif;
        font-size: 55px;
    }

    .contactpage {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contactpagetext {
        font-family: 'Josefin Slab', serif;
        font-size: 30px;
    }


    .abouthead {
        font-size: 40px;
    }

    .about-text {
        font-size: 35px;
    }

    .about-text1 {
        font-size: 35px;
        text-decoration-style: bold;
    }
</style>


<script>

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>



<nav class="navbar navbar-default navv">
    <div class="navcontents">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "vimscustomer")"><img class="navbaricon1" src="~/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="#">Contact</a></li>
                    <li><a href="@Url.Action("Testimonials", "vimscustomer")">Testimonials</a></li>
                    <li><a href="@Url.Action("Index", "vimscustomer")">About</a></li>
                    <li><a href="@Url.Action("typesofinsurance", "vimscustomer")">Types of Insurance</a></li>
                    <li><a href="@Url.Action("ChangePassword", "vimscustomer")"><span class="glyphicon glyphicon-user"></span></a></li>
                    </i></a>
                </ul>
            </div>
        </div>
    </div>
</nav>
<br>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

</div>


<div class="abouttext">
    <p class="abouthead">Our Address</p><img  src="~/logo.png"><br>
    <p class="about-text">
        Phone<br>
        Car, Home, Landlords: 13 19 48<br>
        International enquiries: +61 2 8867 6890<br>
        Monday to Friday, 8am to 7pm, AEST<br>
        Saturday, 9am to 5pm, AEST<br>
        <br>
        Bicycle: 13 19 48<br>
        Monday to Friday, 8:30am to 5pm, AEST<br>
        <br>
        VoIP/Skype<br>
        Car, Home, Landlords: 02 8889 9499<br>
        <br>
        Email<br>
        Car, Home, Landlords: customercare@realinsurance.com.au<br>
        Travel: travelsales@realinsurance.com.au<br>
        Bike: bike@realinsurance.com.au<br>
        <br>
        Mailing address<br>
        Car, Home, Contents, Landlords: Locked Bag 2010, St Leonards NSW 1590<br>
        Bike: RealBike Claims, PO Box 199, Chatswood NSW 2057<br>
    </p>
    <br><br>
    <div class="controls">
        <p class="abouthead">Send Us a Message</p><img  src="~/logo.png"><br>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Firstname *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Lastname *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_need">Please specify your need *</label>
                    <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                        <option value=""></option>
                        <option value="Request quotation">Request quotation</option>
                        <option value="Request order status">Request order status</option>
                        <option value="Request copy of an invoice">Request copy of an invoice</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>

