@model vimseproject.Models.customer_policy_records

@{
    ViewBag.Title = "Delete";
}



<style>
    .button1 {
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button1 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button1 span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button1:hover span {
            padding-right: 25px;
        }

            .button1:hover span:after {
                opacity: 1;
                right: 0;
            }




    .navbaricon1 {
        margin-top: -15px;
        height: 54px;
        width: 169px;
    }

    .nav {
    }

    .navcontents {
        margin-right: 30px;
        margin-left: 30px;
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
    }






    .portfolioimgs {
        margin-right: 60px;
        margin-left: 60px;
    }


    .imgcolumn {
        margin-top: 10px;
        margin-bottom: 10px;
    }



    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: grey; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }



    .abouttext {
        margin-right: 30px;
        margin-left: 30px;
        font-family: 'Josefin Slab', serif;
        font-size: 30px;
    }


    .mypicture {
        width: 1000px;
    }

    .mypiccaption {
        font-size: 20px;
        color: blue;
        text-align: right;
    }

    .contactpageheader {
        font-family: 'Josefin Slab', serif;
        font-size: 55px;
    }

    .contactpage {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contactpagetext {
        font-family: 'Josefin Slab', serif;
        font-size: 30px;
    }


    .abouthead {
        font-size: 40px;
    }

    .about-text {
        font-size: 35px;
    }

    .about-text1 {
        font-size: 35px;
        text-decoration-style: bold;
    }
</style>


<script>

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>



<nav class="navbar navbar-default navv">
    <div class="navcontents">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="navbaricon1" src="~/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@Url.Action("Index", "vimsemployee")">Admin DashBoard</a></li>
                    <li><a href="@Url.Action("Index", "vimscustomer")">View As A Customer</a></li>

                    </i></a>
                </ul>
            </div>
        </div>
    </div>
</nav>
<br>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>customer_policy_records</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Body_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Body_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Engine_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Engine_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Add_Prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Add_Prove)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
